fastapi
uvicorn
pydantic
pydantic[email]
sqlalchemy
fastapi-cache2[redis]
pydantic-settings
pydantic-config
python-dotenv
passlib
PyJWT
asyncpg
alembic
bcrypt
celery
redis
python-json-logger
pytest
anyio
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
twisted